<section ng-controller="HomeController">
  <div class="row">

    <div class="col-sm-6" ng-repeat="alert in alerts">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn" ng-class="alert.colour">
              <i class="glyphicon" ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h2 class="pull-left">{{alert.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <span class="text-muted">{{alert.description}}</span>
        </div>
      </div>
    </div>

    <!-- Alte Variante
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-home"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Home</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Benutzer: Admin</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-th"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Zeiterfassungsmatrix</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Heutiges Datum: 20.10.15</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-time"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Zeiterfassungsliste</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Aktuelle Uhrzeit: 09:20</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Kalenderansicht</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Kalenderwoche: 35</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-plane"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Urlaubsanträge</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Urlaubstage vorhanden: 2</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-2">
          <h1>
            <button type="button" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-education"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-10">
          <h1>Schulungsanträge</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <span class="text-muted">Schulungstage beantragt: 3</span>
        </div>
      </div>
    </div>
    -->

  </div>
</section>
